<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/surajkumarnaganuri/IdeaProjects/RestAssuredAPITest/src/test/java/qa/b2b/api/test/reporttest">
        <classes>
            <class name="qa.b2b.api.test.reporttest.GetResource">
                <methods>
                    <include name="getResource"/>
                </methods>
            </class>
            <class name="qa.b2b.api.test.reporttest.PostResourceTest">
                <methods>
                    <include name="postResource"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>